$base-color: #190d45;
$secondary-color: #f1f2f6;
$third-color: #dddbe3;
$nav-height: 90px;

@font-face {
	font-family: "Avenir-Book";
	src: url("./fonts/Avenir-Book.woff2") format("woff2"), url("./fonts/Avenir-Book.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Avenir-Light";
	src: url("./fonts/Avenir-Light.woff2") format("woff2"), url("./fonts/Avenir-Light.woff2") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Avenir-Medium";
	src: url("./fonts/Avenir-Medium.woff2") format("woff2"), url("./fonts/Avenir-Medium.woff2") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@import "./sass/scrollReveal.scss";
@import "./sass/footer.scss";
@import "./sass/gallery.scss";
@import "./sass/advertisements.scss";
@import "./sass/categories.scss";
@import "./sass/exposants.scss";
@import "./sass/main.scss";
@import "./sass/navbar.scss";
@import "./sass/burgerNav.scss";
@import "./sass/mediaqueries.scss";
