@font-face {
  font-family: "AvenirBook";
  src: url("AvenirBook.woff2") format("woff2"), url("AvenirBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir-Light";
  src: url("./fonts/Avenir-Light.woff2") format("woff2"), url("./fonts/Avenir-Light.woff2") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir-Medium";
  src: url("./fonts/Avenir-Medium.woff2") format("woff2"), url("./fonts/Avenir-Medium.woff2") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
.reveal-loaded .reveal [class*=reveal-] {
  opacity: 0 !important;
  transform: translateY(-30px) !important;
  transition: opacity 0s, transform 0s !important;
}

.reveal-loaded [class*=reveal-] {
  transition: opacity 0.75s cubic-bezier(0.5, 0, 0, 1), transform 0.75s cubic-bezier(0.5, 0, 0, 1);
  will-change: opacity;
}

.reveal-loaded .reveal-2 {
  transition-delay: 0.1s;
}

.reveal-loaded .reveal-3 {
  transition-delay: 0.2s;
}

.reveal-loaded .reveal-4 {
  transition-delay: 0.3s;
}

.reveal-loaded .reveal-5 {
  transition-delay: 0.4s;
}

.reveal-loaded .reveal-6 {
  transition-delay: 0.5s;
}

.reveal-loaded .reveal-7 {
  transition-delay: 0.6s;
}

.reveal-loaded .carousel_list .reveal [class*=reveal-] {
  opacity: 0 !important;
  transform: translateY(-30px) !important;
  transition: opacity 0s, transform 0s !important;
}

.reveal-loaded .carousel_list [class*=reveal-] {
  transition: opacity 0.6s cubic-bezier(0.5, 0, 0, 1), transform 0.6s cubic-bezier(0.5, 0, 0, 1);
  will-change: opacity;
}

.reveal-loaded .carousel_list .reveal-2 {
  transition-delay: 0.1s;
}

.reveal-loaded .carousel_list .reveal-3 {
  transition-delay: 0.2s;
}

.reveal-loaded .carousel_list .reveal-4 {
  transition-delay: 0.3s;
}

.reveal-loaded .carousel_list .reveal-5 {
  transition-delay: 0.4s;
}

.reveal-loaded .carousel_list .reveal-6 {
  transition-delay: 0.5s;
}

.reveal-loaded .carousel_list .reveal-7 {
  transition-delay: 0.6s;
}

.reveal-loaded .carousel_list .reveal-8 {
  transition-delay: 0.7s;
}

.reveal-loaded .carousel_list .reveal-9 {
  transition-delay: 0.8s;
}

.reveal-loaded .carousel_list .reveal-10 {
  transition-delay: 0.9s;
}

.reveal-loaded .carousel_list .reveal-11 {
  transition-delay: 1s;
}

@media (prefers-reduced-motion: reduce) {
  .reveal-loaded .reveal [class*=reveal-] {
    opacity: 1 !important;
    transform: translateY(0px) !important;
  }

  .reveal-loaded [class*=reveal-] {
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
footer {
  display: flex;
  width: 100vw;
  height: 255px;
  justify-content: space-around;
  align-items: center;
  background: #f1f2f6;
  font-family: "Avenir-Medium";
}
footer .footer_items {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
footer .footer_items :last-child() {
  margin: 0;
}
footer .footer_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 160px;
  height: 145px;
}
footer .footer_item ul {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  width: 100%;
  height: 100%;
  list-style: none;
  justify-content: space-evenly;
}
footer .footer_item ul li {
  color: #808085;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.5px;
  cursor: pointer;
  text-transform: capitalize;
}
footer .footer_item .footer_item_header {
  border-bottom: 1px solid #dfdfdf;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 10px;
  color: #190d45;
}
footer .footer_item .footer_search_input {
  width: 100%;
  height: 30px;
  padding-bottom: 10px;
  background: none;
  border: none;
  border-bottom: 1px solid #dfdfdf;
}
footer .footer_item .footer_search_input:focus {
  outline: 0;
}
footer .footer_item .footer_search_input::placeholder {
  color: #190d45;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 1px;
}
footer .footer_input_wrap {
  position: relative;
  width: 260px;
}
footer .footer_input_wrap img {
  position: absolute;
  right: 10px;
  width: 15px;
  padding-bottom: 10px;
}
footer .footer_brand_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
}
footer .footer_brand_logo {
  width: 175px;
  height: 85px;
}
footer .search_input_label {
  visibility: hidden;
}

@media screen and (max-width: 1200px) {
  footer {
    height: auto;
    flex-wrap: wrap;
  }
  footer .footer_brand_wrap {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0 40px 0;
  }
  footer .footer_items {
    align-items: center;
    width: 100%;
    flex-wrap: wrap-reverse;
    margin: 50px 0 200px 0;
  }
}
@media screen and (max-width: 700px) {
  footer {
    justify-content: center;
  }
  footer .footer_input_wrap {
    height: auto;
    margin: 40px 0 40px 0;
  }
  footer .footer_items {
    flex-wrap: wrap;
    width: 80%;
    margin-bottom: 150px;
  }
  footer .footer_item {
    margin: 0;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 500px) {
  footer .footer_items {
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
  }
}
.gallery {
  display: flex;
  width: 100%;
  max-height: 570px;
}

.gallery_right {
  display: flex;
  flex-direction: column;
  width: 340px;
  margin-left: 2px;
  overflow: hidden;
}
.gallery_right img {
  width: 100%;
  margin-bottom: 2px;
  height: 33.3%;
  object-fit: cover;
}
.gallery_right :last-child {
  margin-bottom: 0;
}

.gallery_left {
  width: calc(100% - 340px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gallery_image_wrapper {
  background: white;
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 55vw;
}
.gallery_image_wrapper img {
  position: absolute;
  top: -30px;
  right: 0;
  width: 100vw;
  object-fit: cover;
}

.gallery_footer {
  display: flex;
  width: 100%;
  height: 135px;
  min-height: 135px;
  max-height: 135px;
}

.gallery_buttons {
  display: flex;
  width: calc(100% - 50vw);
  height: 100%;
  border: none;
  touch-action: manipulation;
}

.gallery_arrow {
  background: #fff;
  border-bottom: 1px solid #dddbe3;
}

.gallery_button {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.gallery_like {
  width: 30%;
  border-left: 1px solid #dddbe3;
  background-color: #190d45;
}

.gallery_rarrow {
  border-left: 1px solid #190d45;
  width: 35%;
}

.gallery_larrow {
  width: 35%;
}

.gallery_data_wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 50vw;
  height: 100%;
  background: #190d45;
}

.gallery_progress {
  top: 0;
  left: 0;
  position: absolute;
  width: 5%;
  height: 3px;
  background: #fff;
  transition: 0.2s;
}

.gallery_image_title {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  font-family: "Libre Baskerville";
}

.gallery_image_meta {
  text-transform: uppercase;
  font-family: "Avenir-Light";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 1.3333334px;
}

.gallery_like_data {
  display: none;
}

.animate_images {
  animation-name: animate_images;
  animation-duration: 0.2s;
}

@keyframes animate_images {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@media screen and (min-width: 1400px) {
  .gallery_right {
    width: 26.5vw;
    height: auto;
  }
  .gallery_right img {
    height: 15vw;
  }

  .gallery {
    min-height: 44.5vw;
  }
}
section.advertisements {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 480px;
  margin-bottom: 100px;
}
section.advertisements .advertisements_bg {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 940px;
  background: #f1f2f6;
  z-index: 0;
}
section.advertisements .advertisements_wrapper {
  display: flex;
  padding-left: 85px;
  z-index: 1;
}
section.advertisements .advertisements_wrapper :first-child {
  padding-right: 25px;
}
section.advertisements img {
  height: 373px;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  section.advertisements {
    height: 37.5vw;
  }
  section.advertisements .advertisements_bg {
    width: 73vw;
  }
  section.advertisements .advertisements_wrapper {
    display: flex;
    padding-left: 5vw;
  }
  section.advertisements img {
    height: 30vw;
  }
}
@media screen and (max-width: 500px) {
  section.advertisements {
    height: auto;
  }
  section.advertisements .advertisements_bg {
    width: 100%;
  }
  section.advertisements .advertisements_wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
  }
  section.advertisements .advertisements_wrapper :first-child {
    padding-right: 0;
  }
  section.advertisements .advertisements_wrapper :last-child {
    margin-bottom: 0;
  }
  section.advertisements img {
    width: 100%;
    height: auto;
    margin-bottom: 25px;
  }
}
section.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 90px;
}
section.categories .categories_list {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
  padding: 0 100px;
}
section.categories .categories_list li {
  padding: 20px 20px 20px 10px;
  border: 1px solid #190d45;
  background: #fff;
  margin: 5px 5px;
  transition: background 0.2s;
}
section.categories .categories_list li a {
  color: #190d45;
  text-decoration: none;
  font-family: "Avenir-Medium";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.2s;
}
section.categories .categories_list li:hover {
  cursor: pointer;
  background: #190d45;
  transition: background 0.2s;
}
section.categories .categories_list li:hover a {
  color: #fff;
  transition: color 0.2s;
}

@media screen and (max-width: 720px) {
  section.categories .categories_list {
    padding: 0;
  }
}
section.exposants {
  scroll-margin-top: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  margin-bottom: 100px;
  overflow-x: hidden;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

img.item_link_arrow {
  margin-left: 10px;
  width: 17px;
  height: auto;
}

.exposants_button {
  color: #fff;
  padding: 20px 75px;
  font-family: "Avenir-Medium";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  background: #190d45;
  cursor: pointer;
}

.carousel {
  position: relative;
  display: flex;
  width: 81%;
  height: 400px;
  background: #f1f2f6;
  align-self: flex-end;
  z-index: 1;
  margin-top: 100px;
}

.carousel_grab_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 60px;
  right: 150px;
  opacity: 0.85;
  width: 80px;
  height: 80px;
  background: #fff9c0;
  border-radius: 50%;
  cursor: grab;
}
.carousel_grab_wrap .carousel_grab {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #190d45;
}
.carousel_grab_wrap .carousel_grab img {
  pointer-events: none;
}

.carousel_list {
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  min-width: 100vw;
  justify-content: space-between;
  top: -70px;
  left: -95px;
  list-style: none;
}
.carousel_list li {
  display: flex;
  flex-direction: column;
  min-width: 255px;
  max-width: 255px;
  height: 400px;
  justify-content: space-around;
  word-wrap: break-word;
  margin-right: 30px;
}
.carousel_list li a {
  text-decoration: none;
}
.carousel_list li .item_link_image {
  width: 100%;
  height: 319px;
  pointer-events: none;
}
.carousel_list li p {
  color: #190d45;
  font-family: "Libre Baskerville";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}
.carousel_list li a {
  color: #190d45;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Avenir-Book";
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0.8333333px;
}

.carousel_list::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0;
  height: 0;
  display: none;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  overflow-y: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  overflow: -moz-scrollbars-none;
}

@media screen and (max-width: 800px) {
  .carousel {
    width: 100%;
    height: 300px;
  }

  .carousel_list {
    left: 30px;
  }
  .carousel_list li {
    min-width: 190px;
    height: 300px;
  }
  .carousel_list li .item_link_image {
    height: 248.5px;
  }
  .carousel_list li p {
    font-size: 15px;
  }
  .carousel_list li a {
    font-size: 11px;
  }

  .carousel_grab_wrap {
    right: 100px;
    top: 45px;
    width: 60px;
    height: 60px;
  }
  .carousel_grab_wrap .carousel_grab {
    width: 50px;
    height: 50px;
  }
  .carousel_grab_wrap .carousel_grab img {
    width: 21px;
  }
}
@media screen and (max-width: 600px) {
  .carousel {
    width: 100%;
    height: 250px;
  }

  .carousel_list {
    left: 22.5px;
  }
  .carousel_list li {
    min-width: 142.5px;
  }
  .carousel_list li .item_link_image {
    height: 186.3px;
  }
  .carousel_list li p {
    font-size: 13.5px;
  }
  .carousel_list li a {
    font-size: 9px;
  }

  .carousel_grab_wrap {
    right: 50px;
    top: 34px;
  }
}
@media screen and (max-width: 500px) {
  .exposants_button {
    width: 100%;
  }
}
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  overflow-x: hidden;
}

header {
  margin-top: 90px;
  margin-bottom: 70px;
}

button {
  border: none;
}

button:focus {
  outline: none;
}

.section_title_wrap {
  transform: translateX(21px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}
.section_title_wrap .section_title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 1px;
  font-family: "Libre Baskerville", serif;
  -webkit-text-stroke: 1px #190d45;
  color: #190d45;
  transform: translateX(-25px);
}

.section_title_circle {
  width: 67px;
  height: 67px;
  border-radius: 50%;
  background: #fff9c0;
  display: block;
  z-index: -1;
}

.body_background {
  display: flex;
  z-index: -1;
  position: absolute;
  width: 100vw;
  height: 100%;
}
.body_background .separator_ext {
  width: 19%;
}
.body_background .separator_int {
  width: 31%;
}
.body_background .separator {
  border-left: 1px solid #dddbe3;
}
.body_background :first-child {
  border: none;
}

@media screen and (max-width: 500px) {
  .body_background :nth-child(even) {
    border: none;
  }
}
nav {
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
  width: 100%;
  border-bottom: 1px solid #8e86a4;
  color: #190d45;
  font-family: "Avenir-Medium";
  background: #fff;
  z-index: 2;
}
nav .header_nav_item:hover {
  text-decoration: underline;
}
nav .brand_logo {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}
nav .header_nav_list {
  list-style: none;
  display: flex;
}
nav .header_nav_list :last-child {
  border-right: 0;
}
nav .header_nav_list li {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 30px;
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 1.6666666px;
  border-right: 1px solid #d1ceda;
  cursor: pointer;
}
nav .header_nav_list li a {
  text-decoration: none;
  color: #190d45;
}
nav span.header_nav_link img {
  padding-left: 20px;
}
nav .header_nav_right {
  padding-right: 65px;
}
nav .header_nav_left {
  padding-left: 65px;
}

.header_nav_burger {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 35px;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  z-index: 3;
}
.header_nav_burger .burger_bar {
  width: 35px;
  height: 2px;
  background: #190d45;
  margin-bottom: 8px;
}

.nav_burger_second, .nav_burger_first {
  display: none;
}

.nav_burger_menu {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #fff;
  display: none;
  flex-direction: column;
}
.nav_burger_menu .nav_burger_list {
  list-style: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav_burger_menu .nav_burger_list li {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 1.6666666px;
  padding: 15px 20px;
  text-align: center;
  border-bottom: 1px solid #fff;
  width: 80%;
  cursor: pointer;
}
.nav_burger_menu .nav_burger_list li a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
}
.nav_burger_menu .nav_burger_second :last-child {
  border: none;
}

.burger_animate_open {
  animation-name: burger_animate_open;
  animation-duration: 0.2s;
}

.burger_animate_close {
  animation-name: burger_animate_close;
  animation-duration: 0.2s;
}

.burger_menus_wrap {
  background: #190d45;
  transform: translate(105%, 100%);
  padding: 20px 0 20px 0;
  -webkit-box-shadow: -1px 3px 3px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -1px 3px 3px 0px rgba(0, 0, 0, 0.3);
  box-shadow: -1px 3px 3px 0px rgba(0, 0, 0, 0.3);
}

.burger_menus_wrap.burger_sticky {
  transform: translate(0, 100%);
}

@keyframes burger_animate_open {
  from {
    transform: translate(105%, 100%);
  }
  to {
    transform: translate(0, 100%);
  }
}
@keyframes burger_animate_close {
  from {
    transform: translate(0, 100%);
  }
  to {
    transform: translate(105%, 100%);
  }
}
@media screen and (max-width: 1100px) {
  .nav_burger_menu {
    display: flex;
  }

  .nav_burger_second {
    display: flex;
  }
}
@media screen and (max-width: 575px) {
  .nav_burger_first {
    display: flex;
  }
}
@media screen and (max-width: 420px) {
  .nav_burger_menu {
    width: 100%;
  }
}
@media screen and (min-width: 2880px) {
  .carousel_list li {
    min-width: 25em;
    max-width: 25em;
    height: 40em;
  }
  .carousel_list li p {
    font-size: 1.5em;
    line-height: 1.55em;
  }
  .carousel_list li a {
    font-size: 1em;
    line-height: 1.05em;
  }
  .carousel_list li .item_link_image {
    height: 31.25em;
  }
}
@media screen and (min-width: 2400px) and (max-width: 2880px) {
  .carousel_list li {
    min-width: 20em;
    max-width: 20em;
    height: 35em;
  }
  .carousel_list li p {
    font-size: 1.5em;
  }
  .carousel_list li a {
    font-size: 1em;
  }
  .carousel_list li .item_link_image {
    height: 25em;
  }
}
@media screen and (min-width: 2400px) {
  header {
    margin-top: 100px;
    margin-bottom: 7em;
  }

  nav {
    height: 100px;
  }
  nav .header_nav_list li {
    font-size: 1.1em;
  }
  nav .brand_logo img {
    width: 11em;
  }

  .section_title_wrap {
    transform: translateX(21px);
  }
  .section_title_wrap .section_title {
    font-size: 1.5em;
    letter-spacing: 1px;
    transform: translateX(-25px);
  }

  .section_title_circle {
    width: 5em;
    height: 5em;
  }

  .gallery_data .gallery_image_title {
    font-size: 1.75em;
    line-height: 1.75em;
  }
  .gallery_data .gallery_image_meta {
    font-size: 1em;
  }

  section.exposants {
    margin-bottom: 10em;
  }

  .carousel {
    height: 40em;
  }

  .carousel_grab_wrap {
    right: 10em;
    top: 10em;
    width: 7em;
    height: 7em;
  }
  .carousel_grab_wrap .carousel_grab {
    width: 6em;
    height: 6em;
  }
  .carousel_grab_wrap .carousel_grab img {
    width: 2em;
  }

  .exposants_button {
    font-size: 1.5em;
    line-height: 1.55em;
  }

  section.categories {
    margin-bottom: 9em;
  }
  section.categories .categories_list li {
    padding: 2em 2em 2em 1em;
    margin: 0.5em 0.5em;
  }
  section.categories .categories_list li a {
    font-size: 1.2em;
    line-height: 1.6em;
    letter-spacing: 0.1em;
  }

  footer {
    height: 25.5em;
  }
  footer .footer_item {
    width: 16em;
  }
  footer .footer_item ul {
    padding-top: 0.5em;
  }
  footer .footer_item ul li {
    font-size: 1.5em;
    line-height: 2em;
    letter-spacing: 0.05em;
  }
  footer .footer_item .footer_item_header {
    font-size: 1.4em;
    line-height: 1.9em;
    letter-spacing: 0.1em;
    padding-bottom: 1em;
  }
  footer .footer_item .footer_search_input {
    height: 3em;
    padding-bottom: 1em;
  }
  footer .footer_item .footer_search_input::placeholder {
    font-size: 1.4em;
    line-height: 1.9em;
    letter-spacing: 0.1em;
  }
  footer .footer_item .footer_input_wrap {
    width: 26em;
  }
  footer .footer_brand_wrap .footer_brand_logo {
    right: 1em;
    width: 17.5em;
    height: 8.5em;
  }

  section.advertisements {
    height: 48em;
    margin-bottom: 10em;
  }
  section.advertisements .advertisements_bg {
    width: 94em;
  }
  section.advertisements .advertisements_wrapper {
    padding-left: 8.5em;
  }
  section.advertisements .advertisements_wrapper :first-child {
    padding-right: 2.5em;
  }
  section.advertisements img {
    height: 37.3em;
    cursor: pointer;
  }
}
@media screen and (max-width: 1200px) {
  nav {
    justify-content: center;
  }
  nav .header_nav_left li {
    border-right: 1px solid #d1ceda !important;
  }
  nav .brand_logo {
    right: auto;
    left: 30px;
    position: relative;
    transform: none;
  }
}
@media screen and (max-width: 1100px) {
  nav {
    justify-content: center;
  }
  nav .brand_logo {
    position: absolute;
    left: 30px;
  }
  nav .header_nav_burger {
    display: flex;
    right: 30px;
  }
  nav .header_nav_right {
    display: none;
  }
  nav .header_nav_left :last-child {
    border: none !important;
  }

  .gallery_right {
    display: none;
  }

  .gallery_left {
    width: 100vw;
  }

  .gallery_like {
    width: 12vw;
    border-left: 1px solid #dddbe3;
    background: #190d45;
  }

  .gallery_rarrow {
    border-left: 1px solid #190d45;
    width: 19vw;
  }

  .gallery_larrow {
    width: 19vw;
  }
}
@media screen and (max-width: 1000px) {
  .gallery_image_title {
    font-size: 15px;
  }

  .gallery_image_meta {
    font-size: 9px;
  }
}
@media screen and (max-width: 825px) {
  .gallery_image_title {
    font-size: 12px;
  }

  .gallery_image_meta {
    font-size: 8px;
  }
}
@media screen and (max-width: 670px) {
  .gallery_data_wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .gallery_data {
    transform: translateX(-30px);
  }

  .gallery_like_data {
    position: absolute;
    right: 0;
    display: flex;
    width: 60px;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    height: calc(100% - 3px);
    border-left: 1px solid #dddbe3;
  }

  .gallery_left {
    width: 100%;
  }

  .gallery_like {
    display: none;
  }

  .gallery_footer {
    flex-direction: column;
  }

  .gallery_rarrow,
.gallery_larrow {
    width: 50vw;
  }

  .gallery_buttons {
    width: 100vw;
  }
}
@media screen and (max-width: 575px) {
  nav .brand_logo {
    left: 50%;
    transform: translateX(-50%);
  }
  nav .header_nav_left {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .gallery_image_title {
    font-size: 2.9vw;
  }

  .gallery_image_meta {
    font-size: 2vw;
  }
}

/*# sourceMappingURL=index.css.map */
