footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 255px;
	background: #f1f2f6;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	font-family: "Avenir-Medium";
	:last-child {
		width: 260px;
	}
	.footer_item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 160px;
		height: 100%;
		ul {
			padding-top: 5px;
			list-style: none;
			li {
				padding-top: 20px;
				color: #808085;
				font-size: 15px;
				font-weight: 400;
				line-height: 20px;
				letter-spacing: 0.5px;
				cursor: pointer;
				text-transform: capitalize;
			}
		}
		.footer_item_header {
			border-bottom: 1px solid #dfdfdf;
			font-size: 14px;
			font-weight: 400;
			line-height: 19px;
			letter-spacing: 1px;
			text-transform: uppercase;
			padding-bottom: 10px;
			color: #190d45;
		}
		.footer_search_input {
			width: 100%;
			height: 30px;
			padding-bottom: 10px;
			align-self: flex-start;
			background: none;
			border: none;
			border-bottom: 1px solid #dfdfdf;
		}
		.footer_search_input::placeholder {
			color: #190d45;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 400;
			line-height: 19px;
			letter-spacing: 1px;
		  }
	}
	.footer_input_wrap{
		position: relative;
		width: 260px;
		img{
			position: absolute;
			right: 10px;
			width: 15px;
			padding-bottom: 10px;
		}
	}
}
