section.exposants {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100vw;
	.carousel {
		position: relative;
		display: flex;
		align-items: center;
		width: 78.5%;
		height: 480px;
		background: #f1f2f6;
		margin: 100px 0;
		align-self: flex-end;
		z-index: 1;
	}
	h2 {
		position: relative;
		text-transform: uppercase;
		font-size: 20px;
		font-weight: 700;
		line-height: 25px;
		letter-spacing: 1px;
		font-family: "Libre Baskerville";
		-webkit-text-stroke: solid 1px #190d45;
		color: #190d45;
	}
	h2::before {
		position: absolute;
		top: 50%;
		left: -5%;
		transform: translate(-50%, -50%);
		content: "";
		width: 67px;
		height: 67px;
		border-radius: 50%;
		background: #fff9c0;
		display: block;
		z-index: -1;
	}
}
