nav {
	display: flex;
	position: fixed;
	top: 0;
	align-items: center;
	justify-content: space-between;
	min-height: $nav-height;
	width: 100%;
	border-bottom: 1px solid #8e86a4;
	color: $base-color;
	font-family: "Avenir-Medium";
	background: #fff;
	z-index: 2;
	.header_nav_item:hover {
		text-decoration: underline;
	}

	.brand_logo {
		position: absolute;
		right: 50%;
		transform: translateX(50%);
	}
	.header_nav_list {
		list-style: none;
		display: flex;
		:last-child {
			border-right: 0;
		}
		li {
			text-transform: uppercase;
			display: flex;
			align-items: center;
			padding: 0 20px;
			height: 30px;
			font-size: 10px;
			font-weight: 400;
			line-height: 13px;
			letter-spacing: 1.6666666px;
			border-right: 1px solid #d1ceda;
			cursor: pointer;
			a {
				text-decoration: none;
				color: $base-color;
			}
		}
	}
	span.header_nav_link img {
		padding-left: 20px;
	}
	.header_nav_right {
		padding-right: 65px;
	}
	.header_nav_left {
		padding-left: 65px;
	}
}
